[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-muoto
Exec=invoker --type=generic -s /usr/bin/harbour-muoto
Name=Muoto


[X-Sailjail]
OrganizationName=org.harbour.muoto
ApplicationName=harbour-muoto
Sandboxing=Disabled