[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailfishos-uithemer
Exec=invoker --type=generic -s /usr/bin/sailfishos-uithemer
Name=UI Themer


[X-Sailjail]
OrganizationName=org.sailfishos.uithemer
ApplicationName=sailfishos-uithemer
Sandboxing=Disabled