[Unit]
Description=Re-apply UI Themer icon theme at boot
After=lipstick.service systemd-tmpfiles-setup.service
Wants=lipstick.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/sailfishos-uithemer-reassert --reassert

[Install]
WantedBy=multi-user.target
