[Unit]
Description=Restore default theme before system update
Before=sailfish-upgrade-ui.service

[Service]
Type=oneshot
ExecStart=/usr/share/sailfishos-uithemer/ocr_su.sh

[Install]
WantedBy=system-update.target
